body {
    background-image: linear-gradient(#B39CCE, #A3D3FD);
}

header {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;;
    margin: 0 0 25px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.navbarMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 80%;
    text-align: center;
}
.contentContainer {
    display: flex;
    justify-content: space-between;
}

.containerRight {
    /* border: red 1px solid; */
    background: rgba(255, 255, 255, 0.2);
    flex: 1;
    border-radius: 5px;
    margin: 0 0 0 15px;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    /* border: blue 1px solid; */
    flex: 2;
}

.contentArticle {
    display: flex;
    flex-wrap: wrap;
    /* border: green 1px solid; */
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.containerLeft__fishList {

}

.fishCard {
    flex: 0 1 35%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 10px 0;
}

.fishCard__img {
    width: 100%;
    object-fit: scale-down;
    border-radius: 10px;
}
.locationCard__landmark {
    width: 100%;
    object-fit: scale-down;
}

.containerLeft__travelQuotes {
    flex: 0 1 35%;
    margin: 10px 0;
}

.quoteCard {
    flex: 0 1 35%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 10px 0;
}

.containerLeft__travelLocations {
    
}

.locationCard {
    flex: 0 1 35%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 10px 0;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
