header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navbarMain {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    text-align: center;
}
.contentContainer {
    display: flex;
    border: black 1px solid;
    justify-content: space-between;
}

.containerRight {
    border: red 1px solid;
    flex-basis: 30%;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    border: blue 1px solid;
    flex-basis: 65%;
}

.contentArticle {
    display: flex;
    flex-wrap: wrap;
    border: green 1px solid;
    justify-content: space-around;
}

.containerLeft__fishList {

}

.fishCard {
    flex: 1 1 18%;
}

.fishCard__img {
    width: 18%;
}

.containerLeft__travelQuotes {

}

.quoteCard {
    flex-basis: 30%;
}

.containerLeft__travelLocations {
    
}

.locationCard {
    flex-basis: 30%;
}


footer {
    display: flex;
    justify-content: space-around;
}
